<a href="https://colab.research.google.com/github/Izanjos/Projects/blob/develop/WoMakersCode_Desafio_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pydataset

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pydataset in /usr/local/lib/python3.8/dist-packages (0.2.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from pydataset) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pydataset) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pydataset) (2022.6)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pydataset) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->pydataset) (1.15.0)

In [ ]:
import pydataset
from pydataset import data

In [ ]:
forbes = data("Forbes2000")
display(forbes)

,rank,name,country,category,sales,profits,assets,marketvalue
1,1,Citigroup,United States,Banking,94.71,17.85,1264.03,255.30
2,2,General Electric,United States,Conglomerates,134.19,15.59,626.93,328.54
3,3,American Intl Group,United States,Insurance,76.66,6.46,647.66,194.87
4,4,ExxonMobil,United States,Oil & gas operations,222.88,20.96,166.99,277.02
5,5,BP,United Kingdom,Oil & gas operations,232.57,10.27,177.57,173.54
...,...,...,...,...,...,...,...,...
1996,1996,Siam City Bank,Thailand,Banking,0.48,0.02,11.27,1.47
1997,1997,Yokogawa Electric,Japan,Business services & supplies,2.78,-0.22,2.96,3.29
1998,1998,Hindalco Industries,India,Materials,1.35,0.14,2.47,2.76
1999,1999,Nexans,France,Capital goods,5.09,0.00,2.71,0.88
2000,2000,Oriental Bank of Commerce,India,Banking,0.81,0.10,7.16,1.17

# 1. Qual a empresa mais valiosa da lista da Forbes 2000?

In [ ]:
forbes['marketvalue'].max()

328.54

In [ ]:
forbes['marketvalue'].idxmax()

2

In [ ]:
forbes.loc[forbes['marketvalue'].idxmax()]

rank                          2
name           General Electric
country           United States
category          Conglomerates
sales                    134.19
profits                   15.59
assets                   626.93
marketvalue              328.54
Name: 2, dtype: object

In [ ]:
forbes.loc[2:2]

,rank,name,country,category,sales,profits,assets,marketvalue
2,2,General Electric,United States,Conglomerates,134.19,15.59,626.93,328.54

In [ ]:
mostValuableAt = forbes.at[2,"name"]
print(f"A empresa mais valiosa na Forbes de 2000 é a {mostValuableAt}")

mostValuableLoc = forbes.loc[2,"name"]
print(f"A empresa mais valiosa na Forbes de 2000 é a {mostValuableLoc}")  #iloc = linha em que está o item -1

A empresa mais valiosa na Forbes de 2000 é a General Electric
A empresa mais valiosa na Forbes de 2000 é a General Electric

# 2.Construa uma tabela com as TOP 10 empresas mais lucrativas da lista.

In [ ]:
forbes['marketvalue'].nlargest(10)

2      328.54
31     287.02
24     285.27
4      277.02
1      255.30
10     243.74
58     196.87
3      194.87
7      177.96
354    174.61
Name: marketvalue, dtype: float64

In [ ]:
forbes.iloc[[1,30,23,3,0,9,57,2,6,353]]

,rank,name,country,category,sales,profits,assets,marketvalue
2,2,General Electric,United States,Conglomerates,134.19,15.59,626.93,328.54
31,31,Microsoft,United States,Software & services,34.27,8.88,85.94,287.02
24,24,Pfizer,United States,Drugs & biotechnology,40.36,6.20,120.06,285.27
4,4,ExxonMobil,United States,Oil & gas operations,222.88,20.96,166.99,277.02
1,1,Citigroup,United States,Banking,94.71,17.85,1264.03,255.30
10,10,Wal-Mart Stores,United States,Retailing,256.33,9.05,104.91,243.74
58,58,Intel,United States,Semiconductors,30.14,5.64,47.14,196.87
3,3,American Intl Group,United States,Insurance,76.66,6.46,647.66,194.87
7,7,HSBC Group,United Kingdom,Banking,44.33,6.66,757.60,177.96
354,354,Vodafone,United Kingdom,Telecommunications services,47.99,-15.51,256.28,174.61

# 3.Qual a média de valores de empresa das cinco categorias mais valiosas?
As 5 categorias mais valiosas são as quais a soma dos 'marketvalue' de suas empresas gerar o maior valor ou nos quais as 5 empresas de maior valor estão inseridas?

In [ ]:
mostValuableCategories = forbes.groupby("category")["marketvalue"].sum().nlargest(5)
display(mostValuableCategories)

category
Banking                        3240.51
Oil & gas operations           1854.36
Drugs & biotechnology          1764.00
Diversified financials         1478.97
Telecommunications services    1464.42
Name: marketvalue, dtype: float64

In [ ]:
type(mostValuableCategories)

pandas.core.series.Series

In [ ]:
print(mostValuableCategories)

category
Banking                        3240.51
Oil & gas operations           1854.36
Drugs & biotechnology          1764.00
Diversified financials         1478.97
Telecommunications services    1464.42
Name: marketvalue, dtype: float64

In [ ]:
type(mostValuableCategories)

pandas.core.series.Series

In [ ]:
forbes.groupby("category")["marketvalue"].mean()

category
Aerospace & defense                 12.059474
Banking                             10.353067
Business services & supplies         7.166000
Capital goods                        6.276981
Chemicals                            8.001200
Conglomerates                       25.874194
Construction                         4.072532
Consumer durables                   10.147703
Diversified financials               9.360570
Drugs & biotechnology               39.200000
Food drink & tobacco                13.251928
Food markets                         8.123030
Health care equipment & services     8.786154
Hotels restaurants & leisure         7.816486
Household & personal products       13.104545
Insurance                           11.399107
Materials                            7.017526
Media                               14.390000
Oil & gas operations                20.604000
Retailing                           11.193636
Semiconductors                      23.911538
Software & services                 22.613226
Technology hardware & equipment     19.263729
Telecommunications services         21.857015
Trading companies                    2.953600
Transportation                       6.828125
Utilities                            8.275727
Name: marketvalue, dtype: float64

In [ ]:
forbes.groupby('category').get_group('Banking','')

KeyError: ignored